@page "/missions"
@using Microsoft.Extensions.Caching.Memory
@inject IAvengerBackendClient _avengerBackendClient
@inject IMemoryCache _memoryCache

<PageTitle>Index</PageTitle>

<h1>Hello, Avenger!</h1>
<br>
<p><b>Welcome to your new mission panel where you will find all the information about the current missions and their progress.</b></p>
<br>
<h3><b>Missions</b></h3>
<br>
<table class="table">
    <thead>
        <tr>
            <th scope="col">Id</th>
            <th scope="col">Progress</th>
            <th scope="col">Payment Status</th>
            <th scope="col">Amount</th>
            <th scope="col">Currency</th>
            <th scope="col">Description</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var mission in _missions)
        {
            <tr>
                <td>@mission.Id</td>
                <td>@mission.Status</td>
                <td>@mission.PaymentStatus</td>
                <td>@mission.Amount</td>
                <td>@mission.Currency</td>
                <td>@mission.Description</td>
            </tr>
        }
    </tbody>
</table>

@code
{
    List<Mission> _missions = new List<Mission>();
    bool _shouldRender = false;
    protected override bool ShouldRender() => _shouldRender;
    const string cacheKey = "MISSIONS";

    protected override async Task OnInitializedAsync()
    {
        Mission[] tmp;
        if (!_memoryCache.TryGetValue(cacheKey, out tmp))
        {
            var missions = await _avengerBackendClient.GetMissions();
            foreach (var mission in missions)
            {
                mission.Amount = await _avengerBackendClient.GetPayment(mission.Id);
                
                if (mission.Status == "Canceled")
                {
                    mission.Amount = decimal.Negate(mission.Amount);
                }
                
            }
            _missions = missions.ToList();
            _memoryCache.Set<Mission[]>(cacheKey, _missions.ToArray());
            tmp = _missions.ToArray();
        }
        _missions = tmp.ToList();

        _shouldRender = true;
    }
}